{% block content %}
    <h3>
        Situation 2
    </h3>

    <p>
        Suppose that Individual A is initially not paired with any other participant. During the experiment
Individual A might be randomly paired with another person, Individual B. If the pairing occurs, then it
will be anonymous, meaning that neither participant will ever know the identity of the other participant
with whom he or she is paired.
    </p>
    <p>
        In the experiment, Individual A will make a choice, the experimenter will record this choice, and
Individual A will be paid money based on the choice, as well as a small participation fee. Another
participant, Individual B, may or may not also be paid money based on the choice made by Individual
A, as well as a small participation fee. Suppose that neither participant will receive any other money
for participating in the experiment.
    </p>
    <p>
        In each pair, Individual A will have a choice of whether to play a game or to pass on playing the game.
    </p>
    <p>
        If Individual A decides to pass then he or she will receive $10, the two participants will not be paired,
and Individual B will not find out anything about the game and will not receive any additional money.
    </p>

    <p>
If Individual A chooses to play the game, then he or she will be paired with Individual B. Individual A
will receive $10 and will then have the opportunity to give any amount of his or her $10 to Individual
B. That is, Individual A can give any of the $10 he or she receives to Individual B. For instance,
Individual A may decide to give $0 to Individual B and keep $10 for him or herself. Or Individual A
may decide to give $10 to Individual B and keep $0 for him or herself. Individual A may also choose
to give any other amount between $0 and $10 to Individual B. In this case, Individual B will find out
about the game and how much, if any, of the $10 Individual A chose to give and how much Individual
A kept for him or herself.
    </p>

     <p>
  If you have a question about this situation, please raise your hand and wait for the experimenter.
     </p>
{{ next_button }}
{% endblock %}

{% block styles %}
    <style type="text/css">

    .otree-title{
text-align: center;
}

   div.center {
  text-align: center;
}

</style>

{% endblock %}